go 1.19

use (
	./apigw-lambda-clean-architecture/api
	./appsync-direct-lambda-resolver/src
	./eventbridge-appsync-lambda-resolver/src
	./simple-lambda-function/src
	./cognito-react-runtime-config/src
	./serverless-web-hosting/apigw-lambda-url-shortener/api
	./serverless-web-hosting/apigw-lambda-url-shortener/customresource
	./serverless-web-hosting/docker-golang-fiber-url-shortener/api
	./serverless-web-hosting/ecs-url-shortener-migration/api
	./serverless-web-hosting/ecs-url-shortener-migration/customresource
	./serverless-web-hosting/cloudfront-rest-api/api
	./serverless-web-hosting/cloudfront-rest-api/customresource
	./serverless-web-hosting/cloudfront-http-api-cognito/lambda
	./serverless-web-hosting/secure-cloudfront-http-api-cognito/lambda
	./serverless-web-hosting/secure-cloudfront-http-api-cognito/customresource
	./serverless-web-hosting/serverless-file-share/lambda/api
	./serverless-web-hosting/serverless-file-share/lambda/cognitotrigger
	./serverless-web-hosting/apigw-dynamodb-opensearch/api
	./serverless-web-hosting/apigw-dynamodb-opensearch/data
	./serverless-web-hosting/cloudfront-authorization-at-edge/api
	./cqrs-kafka-gRPC-microservices/cqrs-kafka-producer-consumer-api
)
