go 1.19

use (
	./apigw-lambda-clean-architecture/api
	./apigw-lambda-url-shortener/api
	./appsync-direct-lambda-resolver/src
	./eventbridge-appsync-lambda-resolver/src
	./simple-lambda-function/src
	./cognito-react-runtime-config/src
)