go 1.19

use (
	./apigw-lambda-clean-architecture/api
	./appsync-direct-lambda-resolver/src
	./eventbridge-appsync-lambda-resolver/src
	./simple-lambda-function/src
	./cognito-react-runtime-config/src
	./serverless-web-hosting/apigw-lambda-url-shortener/api
	./serverless-web-hosting/apigw-lambda-url-shortener/customresource
	./serverless-web-hosting/docker-golang-fiber-url-shortener/api
	./serverless-web-hosting/ecs-url-shortener-migration/api
	./serverless-web-hosting/ecs-url-shortener-migration/customresource
)